body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    color:rgb(241, 96, 193);
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(56, 39, 13);
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40 px;
    color: black;
    Background-color: pink;
    text-align: right;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20 px;
    font-weight: bold;
    font-style: italic;
}

h3 {
    color: teal;
}

h4 {
    color:purple;
}

h5 {
    color: gray;
}

h6{
    color:brown;
}

a {
    color: orange;
    text-decoration: none;
}
a:hover {
    color: rgb(74, 168, 255)
}
a:visited {
    color:gray
}
a:visited:hover {
    color:red
}
hr {
    border-top: 5px dotted plum;
    border-bottom: none;
}
ul {
    list-style-type: square;
    color: purple
}
li {
   display:inline; 
}
ol li {
    font-size: 14px;
}



